:root {
  --cream-bg: #fbf8f6;
}

body {
  font-family: "Rubik";
  /* background-color: var(--cream-bg); */

  background: #112c30;
  margin: 0px;
  padding: 0px;
  color: #b9cfd0;
  overflow-x: hidden;
  overflow-y: scroll;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.orange-bg-steam {
  background-color: #e16f18;
}

.orange-text-steam {
  color: #e16f18;
}

.blue-bg-steam {
  background-color: #283555;
}

.blue-text-steam {
  color: #283555;
}

.cream-bg-steam {
  background-color: var(--cream-bg);
}

.cream-text-steam {
  color: var(--cream-bg);
}

.teal-bg-steam {
  background-color: #34a7a2;
}

.teal-text-steam {
  color: #34a7a2;
}

#steam .nav-link {
  color: #283555;
}

.width-logo {
  width: 700px;
}

.overlap-helper {
  position: relative;
  z-index: 1;
}

.background-space {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/Students/students.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.student-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/4.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 768px) {
  .hide-mouse-effect {
    display: none !important;
  }
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 3.5s;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 3.5s;
}

.item {
  width: 80%;
  min-height: 80%;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}

/* Timeline */
.timeline a {
  color: #b9cfd0;
  text-decoration: none;
  border-bottom: 1px solid #b9cfd0;
}

/*==========  Sections  ==========*/

.timeline .main-content {
  margin: 0px auto;
  position: relative;
}

.timeline .main-content .section-inner,
.timeline .main-content .post-wrapper {
  *zoom: 1;
}

.timeline .main-content .section-inner:before,
.timeline .main-content .post-wrapper:before,
.timeline .main-content .section-inner:after,
.timeline .main-content .post-wrapper:after {
  content: "";
  display: table;
}

.timeline .main-content .section-inner:after,
.timeline .main-content .post-wrapper:after {
  clear: both;
}

.timeline .section .section-inner {
  margin: 0px auto;
  width: 1024px;
}

@media only screen {
  .timeline .section .section-inner {
    width: auto;
    max-width: 1024px;
  }
}

/*==========  Stem  ==========*/
.timeline .stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

.timeline .stem-wrapper.color-orange .stem-background {
  background: #e16f18;
}

.timeline .stem-wrapper.color-green .stem-background {
  background: #35c189;
}

.timeline .stem-wrapper.color-white .stem-background {
  background: #fff;
}

.timeline .stem-wrapper .stem,
.timeline .stem-wrapper .stem-background {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 60px;
}

.timeline .stem-wrapper .stem {
  background: #1e4f56;
  height: 100%;
}

.timeline .stem-wrapper .stem-background {
  background: #39acbd;
  height: 50%;
  transition-duration: 0.5s;
}

.timeline .stem-padding,
.timeline .single-stem-icon {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  background: transparent
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/stem-mask.png)
    repeat-y top center;
}

.timeline .single-stem-icon.scroll-to-top {
  cursor: pointer;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/scroll-to-top-icon.png);
}

/*==========  Post wrapper ==========*/
.timeline .post-wrapper {
  *zoom: 1;
}

.timeline .post-wrapper:before,
.timeline .post-wrapper:after {
  content: "";
  display: table;
}

.timeline .post-wrapper:after {
  clear: both;
}

.timeline .post-wrapper .post {
  position: relative;
  width: 432px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  perspective: 1000px;
}

.timeline .post-wrapper .post.hidden .post-content {
  transform: translateY(100px) rotateX(30deg);
  opacity: 0;
}

.timeline .post-wrapper .post:hover .post-content,
.timeline .post-wrapper .post.active .post-content {
  opacity: 1;
}

.timeline .post-wrapper .post:hover .post-content .meta,
.timeline .post-wrapper .post.active .post-content .meta {
  opacity: 1;
  transform: none;
}

.timeline .post-wrapper .post:nth-child(even) {
  float: right;
}

.timeline .post-wrapper .post:nth-child(odd) {
  float: left;
}

.timeline .post-wrapper .post:nth-child(even) .stem-overlay {
  left: -110px;
}

.timeline .post-wrapper .post:nth-child(odd) .stem-overlay {
  right: -110px;
}

.timeline .post-wrapper .post.music-icon .stem-overlay .icon {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/music-icon.png);
}

.timeline .post-wrapper .post.bitbucket-icon .stem-overlay .icon {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/bitbucket-icon.png);
}

.timeline .post-wrapper .post.m-icon .stem-overlay .icon {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/m-icon.png);
}

.timeline .post-wrapper .post.twitter-icon .stem-overlay .icon {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/twitter-icon.png);
}

.timeline .post-wrapper .post .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px;
}

.timeline .post-wrapper .post .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.timeline .post-wrapper .post .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/stem-mask.png)
    repeat-y top center;
}

.timeline .post-wrapper .post .post-content {
  opacity: 0.3;
  transition-duration: 0.4s;
  transform: none;
}

.timeline .post-wrapper .post .post-content .meta {
  color: rgba(255, 255, 255, 0.3);
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 0.2s;
  transform: translateY(-5px);
}

.timeline .post-wrapper .post .post-content .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px;
}

/*==========  Media queries  ==========*/
@media only screen and (max-width: 1080px) {
  .timeline .main-content,
  .timeline .main-content .section-inner {
    max-width: none;
  }

  .timeline .stem-wrapper {
    left: 80px;
  }

  .timeline .stem-padding,
  .timeline .single-stem-icon {
    margin: 0px;
    float: left;
    margin-left: 50px;
  }

  .timeline .post-wrapper .post,
  .timeline .post-wrapper .post:nth-child(even),
  .timeline .post-wrapper .post:nth-child(odd) {
    width: auto;
    margin-left: 110px;
    float: none;
  }

  .timeline .post-wrapper .post .stem-overlay,
  .timeline .post-wrapper .post:nth-child(even) .stem-overlay,
  .timeline .post-wrapper .post:nth-child(odd) .stem-overlay {
    left: -60px;
    right: auto;
  }

  .timeline .post-wrapper .post .post-content {
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 700px) {
  .timeline .post-wrapper .post {
    margin-left: 90px !important;
  }

  .timeline .post-wrapper .post .post-content {
    padding: 0 25px;
  }

  .timeline .stem-wrapper {
    left: 60px;
  }

  .timeline .stem-padding,
  .timeline .single-stem-icon {
    margin-left: 30px;
  }
}

.timeline .clearfix {
  *zoom: 1;
}

.timeline .clearfix:before,
.timeline .clearfix:after {
  content: "";
  display: table;
}

.timeline .clearfix:after {
  clear: both;
}
